form{
    border: 2px solid gray;
    margin: 10px 10em;
    padding: 10px;
}

h2{
    padding: 5px;
}

table,tr,th,td{
    border: solid 2px black;
}

nav{
    padding: 10px;
    height: 80px;
}

/* Classes */

.right-align{
    background-color: aquamarine;
}

#navbar{
    background-color: red;
}